langsmith==0.1.63
charset_normalizer==3.3.2
async_timeout==4.0.3
nvidia_cublas_cu12==12.1.3.1
requests==2.32.3
eval_type_backport==0.2.0
pygments==2.18.0
click==8.1.7
SQLAlchemy==2.0.30
rich==13.7.1
aiosignal==1.3.1
markdown_it_py==3.0.0
jinja2==3.1.4
typing_inspect==0.9.0
tqdm==4.66.4
huggingface_hub==0.23.2
torch==2.3.0
langchain_community==0.2.1
nvidia_cuda_runtime_cu12==12.1.105
nvidia_nvtx_cu12==12.1.105
jsonpointer==2.4
nvidia_cusparse_cu12==12.1.0.106
annotated_types==0.7.0
typing_extensions==4.12.0
joblib==1.4.2
docstring_parser==0.16
xxhash==3.4.1
PyYAML==6.0.1
openpyxl==3.1.3
tokenizers==0.19.1
nvidia_cuda_cupti_cu12==12.1.105
regex==2024.5.15
pyarrow_hotfix==0.6
nvidia_nccl_cu12==2.20.5
tzdata==2024.1
nvidia_cusolver_cu12==11.4.5.107
idna==3.7
pytz==2024.1
numpy==1.26.4
nvidia_curand_cu12==10.3.2.106
networkx==3.2.1
langchain==0.2.1
pyarrow==16.1.0
langchain_core==0.2.1
certifi==2024.2.2
nvidia_cufft_cu12==11.0.2.54
nltk==3.8.1
datasets==2.19.1
python_dateutil==2.9.0.post0
tenacity==8.3.0
safetensors==0.4.3
pillow==10.3.0
jsonpatch==1.33
transformers==4.41.1
marshmallow==3.21.2
shtab==1.7.1
tyro==0.8.4
pandas==2.2.2
nvidia_cuda_nvrtc_cu12==12.1.105
urllib3==2.2.1
mpmath==1.3.0
yarl==1.9.4
MarkupSafe==2.1.5
attrs==23.2.0
sympy==1.12.1
trl==0.8.6
pydantic==2.7.2
psutil==5.9.8
accelerate==0.30.1
peft==0.11.1
orjson==3.10.3
pydantic_core==2.18.3
bitsandbytes==0.43.1
fsspec==2024.3.1
nvidia_nvjitlink_cu12==12.5.40
dataclasses_json==0.6.6
six==1.16.0
triton==2.3.0
aiohttp==3.9.5
mdurl==0.1.2
nvidia_cudnn_cu12==8.9.2.26
multiprocess==0.70.16
dill==0.3.8
et_xmlfile==1.1.0
packaging==23.2
frozenlist==1.4.1
mypy_extensions==1.0.0
greenlet==3.0.3
multidict==6.0.5
langchain_text_splitters==0.2.0
filelock==3.14.0
